@import url('./theme.css');

button {
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 0.9rem;
  padding: 0 15px;
  color: white;
}

#send-btn {
  background-color: var(--blue-main);
}
#send-btn:hover {
  background-color: var(--blue-dark);
}

#alert-btn {
  background-color: var(--red-main);
}
#alert-btn:hover {
  background-color: var(--red-dark);
}